<html>
<head>
<script src="/js/socket.io.js"></script>
<script src="/js/json2.js"></script>
<script src="/js/raphael.js"></script>
<script src="/js/objectConst.js"></script>
<script src="/js/objectMaker.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>

<script type='text/javascript'>


var socket           = new io.Socket('motoki.local',{port:8000}),
    objectCollection = new ObjectCollection(),
    raphael;

socket.connect()
      .on('connect',    onConnect)
      .on('disconnect', onDisconnect)
      .on('message',    onMessage);

function onConnect()
{
}
function onDisconnect()
{
}
// mediator.onMessage
function onMessage(msg)
{
    switch (msg.action) {
    case ACTION_TYPE.CREATE:
        createObject(msg.id, msg.type);
        break;
    case ACTION_TYPE.LOCK:
        updateObject(msg.id, {'status':OBJECT_STATUS.LOCK});
        break;
    case ACTION_TYPE.EDIT:
        updateObject(msg.id, {'status':OBJECT_STATUS.NONE, 'attr':msg.attr});
        break;
    }
}
$ (function() {
    raphael = Raphael(document.getElementById('svg_campus'), 500, 500);
    $('#creae_button').bind('click', requestCreateObject);
});

// mediator.requestCreateObject(type);
function requestCreateObject()
{
    socket.send({"action":ACTION_TYPE.REQUEST_CREATE,
                 "type"  :$('#object_type').val()});
}
// mediator.crateObject(id, type)
function createObject(id, type)
{
    if (type == OBJECT_TYPE.CIRCLE) {
      var objectName = 'Circle';
    }
    objectCollection.add(ObjectMaker.factory(objectName, raphael, id)); 
}
// mediator.updateObject(id, type)
function updateObject(id, param)
{
    var obj = objectCollection.find(id);
    if (param.status != '') {
        obj.setStatus(param.status);
    }
    if (typeof param.attr == 'object'){
        obj.object.animate(param.attr, 300);
    }
}

function log(msg)
{
    if (typeof console == 'object') {
        console.log(msg);
    }
}
</script>
</head>
<h2>Raphael Test</h2>
<body>
    <input type='button' id='creae_button' value='create'>
    <select id='object_type'>
        <option value='1'>circle</option>
        <option value='2'>path</option>
    </select>
    <hr/>
    <div id='svg_campus'></div>
    <hr/>
    <input type='button' id='move_button'>
</body>
