<html>
<head>
<script src="/js/socket.io.js"></script>
<script src="/js/json2.js"></script>
<script src="/js/raphael.js"></script>
<script src="/js/objectConst.js"></script>
<script src="/js/objectMaker.js"></script>
<script src="/js/objectMediator.js"></script>
<script src="/js/objectCollection.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>

<script type='text/javascript'>

$ (function() {
    mediator = new ObjectMediator(); 
    mediator.setUp();
});

function log(msg)
{
    if (typeof console == 'object') {
        console.log(msg);
    }
}
</script>
</head>
<h2>Raphael Test</h2>
<body>
    <input type='button' id='creae_button' value='create'>
    <select id='object_type'>
        <option value='1'>circle</option>
        <option value='2'>path</option>
    </select>
    <hr/>
    <div id='svg_campus'></div>
    <hr/>
    <input type='button' id='move_button'>
</body>
